
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }


    th {
        border: 1px solid #dddddd;
        color: white;
        background-color: #2655ff;
        text-align: left;
        padding: 8px;
    }

    td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f1f1f1;
    }


    /* Checkbox Hack */

    input[type=checkbox] {
       position: absolute;
       top: -9999px;
       left: -9999px;
    }
    label { 
      -webkit-appearance: push-button;
      -moz-appearance: button; 
      display: inline-block;
      cursor: pointer;
    }
    
    /* Default State */
    input[type=checkbox] ~ div {
       display:none;
    }
    
    /* Toggled State */
    input[type=checkbox]:checked ~ div {
       display:block;
    }


/* Tooltip container */
.tooltip {
  /*position: relative;*/
  display: block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: rgb(246, 244, 206);
  color: black;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
